@use '../../design/colors';

.simpleButton {
  min-width: 100px;
  height: 25px;
  background-color: colors.$black;
  color: colors.$white;
  border: 1px solid colors.$lightGray;
  border-radius: 4px;

  &:hover {
    background-color: colors.$darkGray;
  }
}