header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  column-gap: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-start;

  &__header{
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

}
